# Project 1 -- Atulya Kadur

**TA Help:** John Smith, Alice Jones

- Help with figuring out how to write a function.
    
**Collaboration:** Friend1, Friend2
    
- Helped figuring out how to load the dataset.
- Helped debug error with my plot.

## Question 1

In [ ]:
# code here

a. There is 128000 cores and 256,000 GB of memory  in Anvil Cluster A.
b. My Mac has 12 CPU cores and 16 GB of memory.

## Question 2

In [6]:
%%bash

hostname

a242.anvil.rcac.purdue.edu

a. The name of the node on Anvil is a242.anvil.rcac.purdue.edu for Python. 
import socket
print(socket.gethostname())
b. The name of the node on Anvil is a242.anvil.rcac.purdue.edu for bash.
%%bash

hostname
c. The name of the node on Anvil is "a242.anvil.rcac.purdue.edu" for R.
%%R

system("hostname", intern=TRUE)

## Question 3

In [1]:
import pandas as pd
df = pd.read_csv('/anvil/projects/tdm/data/flights/subset/1991.csv')

In [3]:
df[df["Month"]==12].head() # see information about a few of the flights from December 1991

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4657380,1991,12,29,7,1631.0,1630,1829.0,1828,UA,1770,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4657381,1991,12,30,1,1630.0,1630,1823.0,1828,UA,1770,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4657382,1991,12,31,2,1628.0,1630,1820.0,1828,UA,1770,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4657383,1991,12,1,7,1922.0,1922,2040.0,2045,UA,1774,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4657384,1991,12,2,1,2005.0,1922,2119.0,2045,UA,1774,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [4]:
%sql sqlite:////anvil/projects/tdm/data/movies_and_tv/imdb.db

In [5]:
%%sql

-- see information about a few TV episodes called "Finale"
SELECT *
FROM episodes AS e
INNER JOIN titles AS t
ON t.title_id = e.episode_title_id
WHERE t.primary_title = 'Finale'
LIMIT 5;

 * sqlite:////anvil/projects/tdm/data/movies_and_tv/imdb.db
Done.

[('tt0506978', 'tt0285332', 1, 22, 'tt0506978', 'tvEpisode', 'Finale', 'Finale', 0, 2002, None, None, 'Drama,Thriller'),
 ('tt0519805', 'tt0210405', 3, 10, 'tt0519805', 'tvEpisode', 'Finale', 'Finale', 0, 1993, None, None, 'Drama'),
 ('tt0566236', 'tt0169438', 8, 31, 'tt0566236', 'tvEpisode', 'Finale', 'Finale', 0, 2005, None, None, 'Drama,Sport'),
 ('tt0566422', 'tt0111945', 9, 26, 'tt0566422', 'tvEpisode', 'Finale', 'Finale', 0, 2004, None, None, 'Comedy,Drama'),
 ('tt0581864', 'tt0044263', 2, 1, 'tt0581864', 'tvEpisode', 'Finale', 'Finale', 0, 1953, None, 30, 'Comedy,Crime,Drama')]

In [6]:
%%bash

names="John Doe;Bill Withers;Arthur Morgan;Mary Jane;Rick Ross;John Marston"
echo $names | cut -d ';' -f 3
echo $names | cut -d ';' -f 6

Arthur Morgan
John Marston

Markdown notes and sentences and analysis written here.

## Question 4

In [10]:
#Calculates the amount of memory available in bytes Anvil sub-cluster A has.
256*1000*1000000000

256000000000000

In [9]:
#Calculates the amount of memory available in TeraBytes ANvil Sub-Cluster A has
(256*1000)/1000

256.0

In [14]:
%%R
# Calculates the bytes of memory available in ANvil Sub-Cluster A
256*1000*1000000000

[1] 2.56e+14

In [15]:
%%R
#Calculate the Terabytes in the Anvil Sub-Cluster A
(256*1000)/1000

[1] 256

Markdown notes and sentences and analysis written here.

## Question 5

In [18]:
%%R

flight_of_passage <- read.csv("/anvil/projects/tdm/data/disney/flight_of_passage.csv")

In [19]:
%%R

head(flight_of_passage)

        date            datetime SACTMIN SPOSTMIN
1 05/26/2017 2017-05-26 09:06:38      NA     -999
2 05/26/2017 2017-05-26 09:10:11      47       NA
3 05/26/2017 2017-05-26 09:10:12      NA        5
4 05/26/2017 2017-05-26 09:17:09      NA       60
5 05/26/2017 2017-05-26 09:24:07      NA       60
6 05/26/2017 2017-05-26 09:30:10      NA       60

Markdown notes and sentences and analysis written here.

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together – We are Purdue.